
#####################################################################
# Chamber Temperature Sensor Only
#
# Include this file in printer.cfg if the printer has a chamber temp
# sensor but does NOT have an active chamber heater device and
# does not have a manually controlled chamber fan.
#####################################################################

[temperature_sensor Chamber]
sensor_type: PT1000
sensor_pin: vref_scaled:PC31
pullup_resistor: 2145    #Should be 2200 by 6HC spec.  But can be adjusted to better calibrate sensor.

[gcode_macro M141]
gcode:

[gcode_macro M191]
gcode:
