
#####################################################################
# Chamber Temp Sensor and Manual Chamber Fan
#
# Include this file in printer.cfg if the printer has a chamber temp
# sensor and you want a manually controlled chamber fan
# that is controlled with a slider in Mainsail and KlipperScreen
#####################################################################

[temperature_sensor Chamber]
sensor_type: PT1000
sensor_pin: vref_scaled:PC31
pullup_resistor: 2145    #Should be 2200 by 6HC spec.  But can be adjusted to better calibrate sensor.

[fan_generic Chamber_Fan]
pin: !PA8 #Out6
max_power: 1.0 #0.5
shutdown_speed: 0
cycle_time: 0.010
kick_start_time: 0.1
off_below: 0.10
