#####################################################################
# Active Chamber Heater and Fan
#
# Include this file in printer.cfg if the printer has an active
# chamber heater.
#####################################################################


[heater_generic chamber_heater]
heater_pin: PC8
sensor_type: PT1000
sensor_pin: vref_scaled:PC31
pullup_resistor: 2154    #Should be 2200 by 6HC spec.  But can be adjusted to better calibrate sensor.
control = pid
pid_kp = 41.396
pid_ki = 0.365
pid_kd = 1173.588
max_power: 1
min_temp: -10
max_temp: 200    # It seems that if I set this below about 103, it will error out with ADC out of range, even though the temp is nowhere near that.

[verify_heater chamber_heater]
max_error: 86400         # These values are way larger than usual, but I don't want a print to get killed just because
check_gain_time: 86400   # the chamber temp isn't keeping up for some reason, like someone left the door open.
hysteresis: 5
heating_gain: 2

[heater_fan chamber_heater_fan]
heater: chamber_heater
heater_temp: 30.0
pin: !PA8 #Out6
cycle_time: 0.00004   #25 kHz PWM signal
#hardware_pwm: True   #Hardware PWM doesn't seem to work for PA8?
kick_start_time: 0
off_below: 0.06
tachometer_pin: PA1 #tachpin Out6
tachometer_ppr: 2
max_power: 1.0
shutdown_speed: 1.0
fan_speed: 0.60
#fan_speed: 1.0



#######################################
# Chamber Heater Macros
#######################################

[gcode_macro M141]
gcode:
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={params.S|default(0)}


[gcode_macro M191]
gcode:
    {% set s = params.S|default(0)|float %}
    {% if s == 0 %}
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    {% else %}
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={s}
        TEMPERATURE_WAIT SENSOR="heater_generic chamber_heater" MINIMUM={s-2}
    {% endif %}


