# Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
# Use this file for the standard setup with one logo LED and two nozzle LEDs.
# Thank you to Urufu_Shinjiro and ChristianN for providing this file.
#
# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.


#####################################
#           INSTRUCTIONS            #
#####################################
# How to use all this stuff:
#
#     1.  Copy this .cfg file into your Klipper config directory and then add [include stealthburner_leds.cfg]
#         to the top of your printer.cfg in order for register the LEDs and macros with Klipper.
#     2.  Define your LEDs by editing [neopixel dotstar:bed_lights] below and entering the data pin from your control board
#         as well as the color order.
#
#           Note: RGB and RGBW are different and must be defined explicitly in the color order. 
#
#                 RGBW LEDs will have a visible yellow-ish phosphor section to the chip.  If your LEDs do not have
#                 this yellow portion, you have RGB LEDs.
#
#     3.  Save your config and restart Klipper.
#
#           Note: We set RED and BLUE to 1.0 to make it easier for users and supporters to detect 
#                 misconfigurations or miswiring. The default color format is for Neopixels with a dedicated 
#                 white LED. On startup, all three bed LEDs should light up.
#
#                 If you get random colors across your LEDs, change the color_order to GRB and restart. Then
#                 omit the W for each suggested color_order in the next paragraph.
#
#                 If you get MAGENTA, your  color order is correct. If you get CYAN, you need to use RGBW. If
#                 you get YELLOW, you need to use BRGW (note that BRG is only supported in the latest Klipper
#                 version).
#
#     4.  Once you have confirmed that the LEDs are set up correctly, you must now decide where you want 
#         these macros called up...which means adding them to your existing gcode macros.  NOTHING will happen
#         unless you add the STATUS_????? macros to your existing gcode macros.  
#
#           Example: add STATUS_LEVELING to the beginning of your QGL gcode macro, and then add STATUS_READY 
#                    to the end of it to set the logo LED and nozzle LEDs back to the `ready` state.
#
#           Example: add STATUS_CLEANING to the beginning of your nozzle-cleaning macro, and then STATUS_READY
#                    to the end of it to return the LEDs back to `ready` state.
#
#     5.  Feel free to change colors of each macro, create new ones if you have a need to.  The macros provided below
#         are just an example of what is possible.  If you want to try some more complex animations, you will most
#         likely have to use WLED with Moonraker and a small micro-controller (please see the LED thread for help inside
#         of the stealthburner_beta channel on Discord).
#
#####################################
#       END INSTRUCTRUCTIONS        #
#####################################

############################
##  LED Colors Reference  ##
############################
# RED: (1, 0, 0)
# BLUE: (0, 0, 1)
# GREEN: (0.0, 1.0, 0.0)
# ORANGE: (1, 0.18, 0)
# PINK: (1.0, 0.0, 1.0)
# LIGHT BLUE: (0.0, 0.6, 0.2)


#############################
##   Initialize LED Type   ##
#############################
# Sets the initial LED color of the dotstar. Each value should be
# between 0.0 and 1.0. The WHITE option is only available on RGBW
# LEDs. The default for each color is 0.

[dotstar bed_lights]
data_pin: PA13
clock_pin: PA14
chain_count: 26
chain_count: 10
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

#############################
##     LED Bed Effects     ##
#############################
#######################
#      STATUS ON      #
#######################

[led_effect set_leds_on]
leds:
    dotstar:bed_lights
autostart:                          true
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)
    
##########################
#         HOMING         #
##########################
[led_effect bed_homing_flashing_blue]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect bed_homing_comet_blue]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
    comet  1 1.5 top (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)

##########################
#       CALIBRATION      #
##########################
[led_effect bed_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect bed_leveling]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect bed_meshing]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
        breathing  3 1 top (0, 0, 1.0)
        
##########################
#        CLEANING        #
##########################
[led_effect bed_cleaning]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

##########################
#        PRINTING        #
##########################
[led_effect bed_busy]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
    breathing  3 1 top (1,0,0)

[led_effect bed_printing]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
    chase 1 3 top (1.0, 1.0, 1.0, 1.0), (1.0, 1.0, 1.0, 1.0), (1.0, 1.0, 1.0, 1.0)

##########################
#     BED TEMPERATURE    #
##########################
[led_effect bed_heating]
leds:
    dotstar:bed_lights
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (1, 0.18, 0)

[led_effect bed_cooling]
leds:
    dotstar:bed_lights
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (0, 0, 1)

##########################
#  EXTRUDER TEMPERATURE  #
##########################
[led_effect heater_extruder_rainbow_gradient]
leds:
  dotstar:bed_lights
autostart:              false
frame_rate:             24
heater:                 extruder
layers:
    heater 25 0 multiply (0.0, 1.0, 1.0),(0.0, 0.0, 1.0),(0.0, 1.0, 0.0),(1.0, 1.0, 0.0),(1, 0.30, 0.0),(1, 0.15, 0.0),(1, 0.075, 0.0),(1.0, 0.0, 0.0)
    breathing  2 0 top (1, 1, 1)

[led_effect heater_extruder]
leds:
  dotstar:bed_lights
autostart:              false
frame_rate:             24
heater:                 extruder
layers:
    heater 25 0 add (0.0, 1.0, 1.0),(0.0, 0.0, 1.0),(0.0, 1.0, 0.0),(1.0, 1.0, 0.0),(1, 0.30, 0.0),(1, 0.15, 0.0),(1.0, 0.0, 0.0)
    breathing  5 0 difference (0.9, 0.9, 0.9)
    static  1  0     top        (1.0,  0.0, 0.0)
    
##########################
#          READY         #
##########################
[led_effect bed_part_ready_flashing]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
        breathing  5 1 top (0.0, 1.0, 0.0)
        
[led_effect bed_part_ready_static]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
        static  0 0 top (0.0, 1.0, 0.0)

##########################
#          IDLE          #
##########################
[led_effect bed_standby]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)
        
#############################
##    LED Status Effects   ##
#############################

[led_effect bed_critical_error]
leds:
    dotstar:bed_lights
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[led_effect rainbow]
leds:
    dotstar:bed_lights
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)
    
[led_effect police]
autostart:              false
frame_rate:             24
leds:
    dotstar:bed_lights
layers:
    chase 1 1.5 top (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(0.5, 0.0, 0.)
    
[led_effect print_progress_bar]
leds:
    dotstar:bed_lights
autostart:                          false
frame_rate:                         24
layers:
    progress   -1  0 add               (0, 0 , 1), (0, 0.1, 0.6)
    static     0   0 top               (0, 0, 0.1)


##############
# The Macros #
##############

[gcode_macro led_status_on]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    SET_LED_EFFECT EFFECT=set_leds_on
    
[gcode_macro led_status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro led_status_homing]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_homing_comet_blue

[gcode_macro led_status_calibrating_z]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_calibrating_z
    
[gcode_macro led_status_leveling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_leveling

[gcode_macro led_status_meshing]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_meshing

[gcode_macro led_status_cleaning]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_cleaning

[gcode_macro led_status_busy]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_busy
    
[gcode_macro led_status_printing]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_printing

[gcode_macro led_status_heating]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_heating

[gcode_macro led_status_cooling]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_cooling
  
[gcode_macro led_status_heater_extruder]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=heater_extruder

[gcode_macro led_status_ready]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_part_ready_static

[gcode_macro led_status_part_ready]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_part_ready_flashing
    
[gcode_macro led_status_print_progress]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=print_progress_bar

[gcode_macro led_status_police]
gcode:
    LED_STATUS_DISPLAY LED=bed_lights MODE=clear
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=police
    

######################################################################################
# use LED_STATUS_DISPLAY LED=Led_Name TYPE=template_type MODE=template_mode

# for TYPE use:
# extruder_temp     :extruder temperature progress
# bed_temp          :bed temperature progress
# print_percent     :print progress
# printer_speed     :printer speed

# for MODE use:
# progress          :the leds will light up one by one
# glow              :all leds will fade from one color (or non) to other color

# more info: https://github.com/digitalninja-ro/klipper-neopixel/blob/master/README.md

[gcode_macro LED_STATUS_DISPLAY]
gcode:
    
    {% set led = params.LED %}
    {% set type = params.TYPE %}
    {% set mode = params.MODE %}
    {% set my_neopixel = printer.configfile.config['dotstar ' ~ led] %}
    
    STOP_LED_EFFECTS
    
    {% if mode == 'clear' %}
        SET_LED_TEMPLATE LED={led} TEMPLATE=""
        SET_LED LED={led} RED=0 GREEN=0 BLUE=0 
    {% endif %}
    {% if mode == 'progress' %}
        {% for i in range(my_neopixel.chain_count|int) %}
            SET_LED_TEMPLATE LED={led} INDEX={i+1} TEMPLATE={'led_' ~ type ~ '_' ~ mode} param_led_num={i+1} param_led_total={my_neopixel.chain_count|int}
        {% endfor %}
    {% endif %}
    {% if mode == 'glow' %}
        SET_LED_TEMPLATE LED={led} TEMPLATE={'led_' ~ type ~ '_' ~ mode}
    {% endif %}

[display_template led_extruder_temp_glow]
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.config.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp|float %}
    {ratio}, 0.0, {1-ratio}, 0.0

[display_template led_extruder_temp_progress]
param_led_num:  0
param_led_total: 1
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.config.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp|float %}
    {% set led_ratio = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        {led_ratio}, 0.0, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_bed_temp_glow]
text:
    {% if printer.heater_bed.target > 0.0 %}
        {%  set temp = printer.heater_bed.target %}
    {% else %}
        {% set temp = printer.configfile.config.heater_bed.max_temp %}
    {% endif %}
    {% set ratio = printer.heater_bed.temperature / temp|float %}
    {ratio}, 0.0, {1-ratio}, 0.0

[display_template led_bed_temp_progress]
param_led_num:  0
param_led_total: 1
text:
    {% if printer.heater_bed.target > 0.0 %}
        {%  set temp = printer.heater_bed.target %}
    {% else %}
        {% set temp = printer.configfile.config.heater_bed.max_temp %}
    {% endif %}
    {% set ratio = printer.heater_bed.temperature / temp|float %}
    {% set led_ratio = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        {led_ratio}, 0.0, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_print_percent_glow]
text:
    {% set ratio = printer.virtual_sdcard.progress %}
    0.0, {ratio}, 0.0, 0.0

[display_template led_print_percent_progress]
param_led_num:  0
param_led_total: 1
text:
    {% set ratio = printer.virtual_sdcard.progress %}
    {% set led_ratio   = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        0.0, {led_ratio}, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_printer_speed_glow]
text:
    {% set ratio  = printer.motion_report.live_velocity|float /  printer.configfile.config.printer.max_velocity|float %}
    0.0, {ratio}, 0.0, 0.0

[display_template led_printer_speed_progress]
param_led_num:  0
param_led_total: 1
text:
    {% set ratio  = printer.motion_report.live_velocity|float /  printer.configfile.config.printer.max_velocity|float %}
    {% set led_ratio    = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        0.0, {led_ratio}, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}
