[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]
[pause_resume]
[display_status]

[force_move]
enable_force_move: True

[adxl345]
cs_pin: EBBCan: PB12
spi_bus: spi3

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 30, 10  # an example

[input_shaper]
#shaper_freq_x: 60.2 #64.4
#shaper_type_x: 3hump_ei #zv
#shaper_freq_y: 56.4 #91.0 
#shaper_type_y: 2hump_ei  #zv

[firmware_retraction]
retract_length: .8
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 30

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 10000
max_z_velocity: 100
max_z_accel: 500
square_corner_velocity: 10


########################################
# Driver Configuration
########################################

####################### Z #######################
[stepper_z]  # Driver0 (Back Motor)
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 6.1754386  # (16 tooth pulley) x (2 mm belt pitch) / (57/11 gear ratio)
endstop_pin: probe:z_virtual_endstop 
position_max: 170
position_min: -5
homing_speed: 25
homing_retract_dist: 5
second_homing_speed: 10

[stepper_z1] # Driver1 (Left Motor)
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 6.1754386

[stepper_z2] # Driver2 (Right Motor)
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 6.1754386

####################### X #######################
[stepper_x] # Driver3 Back Left
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
endstop_pin: EBBCan: PB6
microsteps: 32
rotation_distance: 40
position_endstop: 294 #289
position_min: -2  #-5
position_max: 294 #289
homing_speed: 85
homing_retract_dist: 5
second_homing_speed: 5 

####################### Y #######################
[stepper_y] # Driver4 Back Right
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
endstop_pin: PG12 
microsteps: 32
rotation_distance: 40
position_endstop: 265
position_min: -40
position_max: 265
homing_speed: 85
homing_retract_dist: 5
second_homing_speed: 5 

####################### Extruder #######################
[extruder] # Driver5
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 7.33461  # LGX 2.85
nozzle_diameter: 0.5
filament_diameter: 2.85
heater_pin: EBBCan: PB13
sensor_pin: EBBCan: PA3
sensor_type: ATC Semitec 104GT-2
min_temp: -273.15  # allows toolhead to disconnect without erroring out
max_temp: 300
min_extrude_temp: 1
pressure_advance: 0.06655
pressure_advance_smooth_time: 0.04
max_extrude_only_distance: 1000
max_extrude_cross_section: 200
max_extrude_only_velocity: 30
max_extrude_only_velocity: 300

# Driver6
#[extruder1]
#step_pin: PE2
#dir_pin: PE3
##enable_pin: !PD4
#heater_pin: PB10 # HE2
#sensor_pin: PF6 # T2

# Driver7
#[extruder3]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#heater_pin: PB11 # HE3
#sensor_pin: PF7 # T3


########################################
# Heater Configuration
########################################

[heater_bed]
heater_pin: PA1
sensor_pin: PF3
sensor_type: EPCOS 100K B57560G104F
min_temp: -273.15
max_temp: 150
#control: pid

[verify_heater extruder]
check_gain_time:60
heating_gain: 2
hysteresis: 10

[verify_heater heater_bed]
check_gain_time:60
heating_gain: 2


########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_z]
uart_pin: PC4
diag_pin: PG6
run_current: 0.800

[tmc2209 stepper_z1] 
uart_pin: PD11
diag_pin: PG9
run_current: 0.800

[tmc2209 stepper_z2] 
uart_pin: PC6
diag_pin: PG10
run_current: 0.800

[tmc2209 stepper_x]
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
uart_pin: PC7

[tmc2209 stepper_y]
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
uart_pin: PF2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
#diag_pin: PG13
run_current: 0.825
interpolate: False
hold_current: 0.500

#[tmc2209 extruder1]
#uart_pin: PE1
#diag_pin: PG14
#run_current: 0.800
#interpolate: False
#hold_current: 0.500

#[tmc2209 extruder2]
#uart_pin: PD3
#diag_pin: PG15
#run_current: 0.800
#interpolate: False
#hold_current: 0.500


########################################
# FAN Configuration
########################################

[fan_generic toolhead_fan]
pin:EBBCan: PA1
kick_start_time: 1

[fan_generic bed_fan]
pin: PA8
kick_start_time: 1

#### TMC/STEPPER FAN (3) ####
[controller_fan TMC_fan]
pin: PD13 # Fan 3 (24 Volts)
fan_speed: 1.0
kick_start_time: 1 
idle_speed: 1.0
idle_timeout: 30
stepper: stepper_x, stepper_z

#### MCU FAN (4) ####
[temperature_fan MCU_fan]
pin: PD14 # Fan 4 (24 Volts)
sensor_type: temperature_mcu
kick_start_time: 0.5
min_temp: 15
max_temp: 80
target_temp: 35.0
control: watermark

#### PI FAN (5) #####
[temperature_fan pi_fan]
pin: PD15 # Fan 5 (24 Volts)
sensor_type: temperature_host
kick_start_time: 0.5
min_temp: 15
max_temp: 80
target_temp: 45.0
control: watermark


########################################
# PROBE configuration
########################################

[bltouch]
sensor_pin: ^EBBCan:PB8
control_pin: EBBCan:PB9
pin_move_time: 1
x_offset: 50
y_offset: 45
#z_offset: 1.55
speed: 10
samples: 2
sample_retract_dist: 3
samples_result: average
samples_tolerance: 0.05
samples_tolerance_retries: 3
stow_on_each_sample: False
probe_with_touch_mode: True
lift_speed: 50


########################################
# Filament Sensor configuration
########################################

[filament_switch_sensor E1_Sensor]
pause_on_runout: True
switch_pin: ^PG15


########################################
# Homing/Bed Leveling Configuration
########################################

[axis_twist_compensation]
calibrate_start_x: 60
calibrate_end_x: 280
calibrate_y: 95

[homing_override]
set_position_z: 0
gcode:
    SET_PIN PIN=z_brake VALUE=1
    G4 P500
    G0 Z10
    G28 Y0 
    G28 X0
    G0 X96 Y117 F6000
    G28 Z0 F1000
    G0 Z10 

[z_tilt]
z_positions:
    148, 330
      0, -32
    300, -32
points:
     98, 235
      0, -32
    235, -32
horizontal_move_z: 20
speed: 300
retries: 5
retry_tolerance: 0.05

[bed_mesh]
mesh_min:  50,  10
mesh_max: 283, 285
probe_count: 6, 6
horizontal_move_z: 5
speed: 400
fade_start: 1
fade_end: 0
zero_reference_position: 145, 145
