##############################################################################
# This File is Maintained by the LulzBot Team                                #
# lulzbot.cfg is inteded to contain printer specific configuration settings, #
# such as stepper settings, heater settings, and kinematics.                 #
##############################################################################

#################################################
#  If you wish to customize your machine, copy  #
#  the contents of this file, or just the       #
#  section you wish to modify, paste it to      #
#  printer.cfg, and modify it there.            #
#################################################

# Spencer Koroly is coolest ever
# Pins for reference, v1.02 board:
# Driver Step Pins - 0:PC18 1:PC16 2:PC28 3:PC1  4:PC4 5:PC9
# Driver Dir Pins  - 0:PB5  1:PD10 2:PA4  3:PA22 4:PC3 5:PD14
# Driver Enable - !PA9
# Driver CS - PD17
# Thermistor Pins - TEMP0:PC15 TEMP1:PC29 TEMP2:PC30 TEMP3:PC31
# Pullup Resistor - 2200
# Vssa Sense:PC13 | Vref Sense:PC0
# Current Sense resistor for drivers - 0.05ohm
# SPI lines:{PC25} -> SPIMosi:PC27 SPIMiso:PC26 SPISCLK:PC24
# Vin Monitor:PA20
# CAN Pins - TX0:PB2 RX0:PB3 TX1:PD12 RX1:PC12
# Heaters - Out0:PA7 Out1:PA24 Out2:PA16 Out3:PA11
# Fan outputs - Out4:PA15 Out5:PC5 Out6:PA8 Out7:PC11 Out8:PC8 Out9:PA12 | Out9 is shared with VFD_Out
# Tach Pins for Fans - Out4.Tach:PC7 Out5.Tach:PD23 Out6.Tach:PA1
# GPIO_out - IO0:PD26 IO1:PD16 IO2:PD27 IO3:PA3 IO4:PE0  IO5:PD21 IO6:PA0  IO7:PD23 IO8:PE1
# GPIO_in -  IO0:PD25 IO1:PD15 IO2:PD28 IO3:PE5 IO4:PD30 IO5:PA19 IO6:PA18 IO7:PA17 IO8:PE3
# Driver Diag - 0:PD29 1:PC17 2:PD13 3:PC2 4:PD31 5:PC10


########################################
# MISC SETTINGS
########################################

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

[exclude_object]

# Enable arcs support for Orcaslicer.
[gcode_arcs]
resolution: 0.1

[temperature_sensor SBC]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[adc_scaled vref_scaled]
vref_pin: PC0
vssa_pin: PC13

[idle_timeout]
timeout: 5600

#[force_move]
#enable_force_move: True


########################################
# KINEMATICS
########################################

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 20000
max_z_velocity: 80         
max_z_accel: 1000
square_corner_velocity: 20.0 
minimum_cruise_ratio: 0.2

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
#driver 0
step_pin: PC18
dir_pin: !PB5
enable_pin: !PA9
microsteps: 16
rotation_distance: 40
endstop_pin: tmc5160_stepper_x:virtual_endstop
homing_speed = 100
homing_retract_dist = 0
position_endstop: 300
position_max: 300

[tmc5160 stepper_x]
cs_pin: PD17
spi_bus: usart1
chain_position: 1
chain_length: 6
interpolate: False
run_current: 1.5
sense_resistor: 0.05
diag0_pin: ^!PD29 
driver_SGT: 1 #Max sensitivity -64

[stepper_y]
#driver 1
step_pin: PC16
dir_pin: !PD10
enable_pin: !PA9
microsteps: 16
rotation_distance: 40
endstop_pin: tmc5160_stepper_y:virtual_endstop
homing_speed = 80
homing_retract_dist = 0
position_endstop: 295
position_max: 300

[tmc5160 stepper_y]
cs_pin: PD17
chain_position: 2
chain_length: 6
interpolate: False
run_current: 1.5
sense_resistor: 0.05
diag0_pin: ^!PC17 
driver_SGT: 1 # -64 is most sensitive value, 63 is least sensitive

#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Back Left
##  Connected to MOTOR_2
[stepper_z]
#driver2
step_pin: PC28
dir_pin: PA4
enable_pin: !PA9
microsteps: 16
rotation_distance: 8 
endstop_pin: probe:z_virtual_endstop 
position_min: -20
position_max: 221
homing_speed: 150
homing_retract_dist: 0
homing_retract_speed: 100
second_homing_speed: 50

[tmc5160 stepper_z]
cs_pin: PD17
chain_position: 3
chain_length: 6
interpolate: False
run_current: 1.0
sense_resistor: 0.05

##  Z1 Stepper - Front Left
##  Connected to MOTOR_3
[stepper_z1]
#driver3
step_pin: PC1
dir_pin: PA22
enable_pin: !PA9
microsteps: 16
rotation_distance: 8 #40

[tmc5160 stepper_z1]
cs_pin: PD17
chain_position: 4
chain_length: 6
interpolate: False
run_current: 1.0
sense_resistor: 0.05

##  Z2 Stepper - Middle Right
##  Connected to MOTOR_4
[stepper_z2]
#driver4
step_pin: PC4
dir_pin: !PC3
enable_pin: !PA9
microsteps: 16
rotation_distance: 8 #40

[tmc5160 stepper_z2]
cs_pin: PD17
chain_position: 5
chain_length: 6
interpolate: False
run_current: 1.0
sense_resistor: 0.05

#####################################################################
#   Toolhead
#####################################################################

[multi_pin big_boi_hotend]
pins: PA24,PA16

[extruder]
#driver5
step_pin: PC9
dir_pin: !PD14
enable_pin: !PA9
microsteps: 32
nozzle_diameter: 0.600
filament_diameter: 1.750
rotation_distance: 7.8336
heater_pin: multi_pin:big_boi_hotend
sensor_type: PT1000
pullup_resistor: 2130  #Should be 2200 by 6HC spec, but 2130 gets 300 C to show as 300 C on Fluke 87.
sensor_pin: vref_scaled:PC15 #Temp1
#control: pid
#pid_Kp: 30.089
#pid_Ki: 2.229
#pid_Kd: 101.550
min_temp: 0
max_temp: 500
max_extrude_cross_section: 5
max_extrude_only_distance: 201
pressure_advance: 0.022
pressure_advance_smooth_time: 0.03

[tmc5160 extruder]
cs_pin: PD17
chain_position: 6
chain_length: 6
interpolate: False
run_current: 0.5
sense_resistor: 0.05

[heater_fan heatbreak_fan]
#pin: PC8 #Out8
heater: extruder
heater_temp: 50.0

[heater_fan heatbreak_fan]
pin: !PA15 #Out4
cycle_time: 0.00004    #25 kHz PWM signal
#hardware_pwm: False
kick_start_time: 0
off_below: 0.06
tachometer_pin: PC7 #tachpin Out4
tachometer_ppr: 2
fan_speed: 0.35 
shutdown_speed: 0

#####################################################################
#   Chamber Sensor
#####################################################################

[temperature_sensor Chamber]
sensor_type: PT1000
sensor_pin: vref_scaled:PC31
pullup_resistor: 2145    #Should be 2200 by 6HC spec, but 2145 gets ambient temp to display right on THIS printer.


#####################################################################
#   Probe
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_45B9C87D5157383837202020FF062340-if00
x_offset: 00 # update with offset from nozzle on your machine
y_offset: 31 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC11 #Out7
sensor_type: Generic 3950
sensor_pin: vref_scaled:PC30 #Temp0
control: pid
pullup_resistor: 2200
pid_Kp: 61.049
pid_Ki: 2.339
pid_Kd: 398.344
min_temp: 0
max_temp: 120

#####################################################################
#   Only Fans
#####################################################################

[fan] #Part Cooling Fan
pin: !PC5 #Out5
cycle_time: 0.00004   #25 kHz PWM signal
#hardware_pwm: False
kick_start_time: 0
off_below: 0.06
tachometer_pin: PD23 #tachpin Out5
tachometer_ppr: 2
max_power: 1.0
shutdown_speed: 0

[fan_generic Chamber_Fan]
pin: PA8 #Out6
max_power: 1.0 #0.5
shutdown_speed: 0
cycle_time: 0.010
kick_start_time: 0.1
off_below: 0.10

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position:150,150
speed: 100
#z_hop:20

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed.
##  z_positions: Location of toolhead
z_positions:
   12.5, 292.5
   12.5, 17.5
   287.5, 155
points:
   12.5, 236.5
   12.5, 0
   287.5, 99.5

speed: 500
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.015
#max_adjust: 10

[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 30, 40
mesh_max: 275, 275
algorithm: bicubic
probe_count: 49, 47

#####################################################################
#   Accelerometer
#####################################################################

[resonance_tester]
accel_chip: beacon
probe_points: 150, 150, 20
