
#####################################################################
#   Macros
#####################################################################

[gcode_macro VARIABLES]
variable_min_temp_extruder: 170
variable_load_unload_temp: 200
variable_x_homing_backoff: -10
variable_y_homing_backoff: -10
variable_z_homing_backoff: 10
gcode:


[homing_override]
# Do a backoff move after homing each axis. This prevents issues were bump sense can fail
# if homing is done repeatedly. Also, the CoreXY doesn't reliably home Y if X is pushed
# against the end of travel.
axes: xyz
set_position_z: 210   # This is a hack to prevent an error message when homing Z.  See below.
gcode:

  SAVE_GCODE_STATE NAME=pre_override_state

  {% set axes = [] %}
  {% for k,v in params.items() %}
    {% for letter in k %}
      {% if letter in ['X','Y','Z'] %}
        {% set _ = axes.append(letter) %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if not axes %}
    # No axes specified so home all
    {% set axes = ['X', 'Y', 'Z'] %}
  {% else %}
    # If Z is included and X and Y are not homed, home X, Y, and Z.
    {% if 'Z' in axes and ('x' not in printer.toolhead.homed_axes or 'y' not in printer.toolhead.homed_axes) %}
      {% set axes = ['X', 'Y', 'Z'] %}
    {% endif %}
    # If Z is included, make sure it’s last
    {% if 'Z' in axes %}
      {% set _ = axes.remove('Z') %}
      {% set axes = axes + ['Z'] %}
    {% endif %}
  {% endif %}

  {% set xb = printer["gcode_macro VARIABLES"].x_homing_backoff %}
  {% set yb = printer["gcode_macro VARIABLES"].y_homing_backoff %}
  {% set zb = printer["gcode_macro VARIABLES"].z_homing_backoff %}

  {% if 'Z' in axes %}
    #_BACK_AWAY_FROM_BEACON_IF_TRIGGERED    # Doesn't work as I hoped, disable for now.
  {% endif %}

  {% for ax in axes %}
    {% if ax == 'Z' %}
      G90
      # So here's the story, if you get to this G1 move below with motors disabled and Z at Z-max,
      # and with a bed mesh loaded, even though there's no Z move, it complains that you must home
      # first, despite the fact that we just homed x and y.  The error goes away if the bed mesh and
      # any gcode offest are cleared.  But I don't want to do that.  I'm assuming it's trying to do
      # a z move to compensate for bed mesh height differences.  The set_position_z: 210 above makes
      # that error go away, and it doesn't cause an issue because we are about to home the Z anyway.
      G1 X150 Y150 F4000   # Move into position for Z homing
    {% endif %}
    G28 {ax}
    G91  # relative mode for backoff
    {% if ax == 'Z' %}
      G1 Z{zb} F1000
    {% elif ax == 'X' %}
      G1 X{xb} F4000
    {% elif ax == 'Y' %}
      G1 Y{yb} F4000
    {% endif %}
    G4 P1000 # Make sure bump sense has time to reset.
    G90  # back to absolute mode
  {% endfor %}
  RESTORE_GCODE_STATE NAME=pre_override_state


[gcode_macro _BACK_AWAY_FROM_BEACON_IF_TRIGGERED]
# This was an attempt to detect if the bed was too close to the Beacon probe
# to home Z properly, and back it away if so.  But it seems that 'dist' is
# also undefined if the bed is so close it can't calculate a distance.
gcode:
  {% if 'dist' in printer.beacon.last_received_sample %}
    SET_KINEMATIC_POSITION Z=0  # Need to use kinematic position to move since z may not be homed.
    G1 Z10
  {% endif %}


[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}

    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {action_respond_info(out|join("\n"))}


[gcode_macro M205]
gcode:


[gcode_macro _CG28] #Conditional Homing
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}


[gcode_macro OG28]
gcode:
    _CG28


[gcode_macro _CZTA]
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        {% if "xyz" not in printer.toolhead.homed_axes %}
            G28 ; home if not already homed
        {% endif %}
        Z_TILT_ADJUST
        G28 Z
    {% endif %}


[gcode_macro OLD_PRINT_START]
# This is the PRINT_START macro from Spencer K's config.
# Keeping it for reference, but it's not currently used.
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:

    # Parameters
    {% set BED_TEMP = params.BED|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|float %}

    # Wait for Bed temp to heat up 
    LED_STATUS_HEATING 
    M117 Heating Bed
    M190 S{BED_TEMP}

    # Set LED
    LED_STATUS_HOMING
    M117 Homing
    G28
    M117 Adjusting Z Tilt
    Z_TILT_ADJUST

    # Bed mesh
    LED_STATUS_MESHING
    M117 Calibrating Bed Mesh
    BED_MESH_CALIBRATE

    # Wait for Extruder temp to heat up
    LED_STATUS_DISPLAY LED=bed_lights TYPE=extruder_temp MODE=progress
    M117 Heating Extruder
    M109 S{EXTRUDER_TEMP}

    SET_FAN_SPEED FAN=Chamber_Fan SPEED=0.0

    # Purge Nozzle
    LED_STATUS_CLEANING
    LINE_PURGE

    #LED_STATUS_DISPLAY LED=bed_lights TYPE=print_percent MODE=progress
    LED_STATUS_ON
    #G1 X150 Y150 Z30 F3600  #For 300mm AMOS
    M117


[gcode_macro PRINT_START]
# This start macro does an intelligent adaptive heating sequence to greatly reduce time until actual printing starts.
# If the printer is cold, it will start the bed heat, then start the extruder heating to a lower temp that shouldn't ooze.
# It will do homing, z-tilt, and mesh while heating.
# When the bed is a few degrees short of target it will start the extruder heating to print temp, so they ideally hit target at the same time.
# But it also adapts to starting with heated bed or extruder and doesn't force the extruder to cool then reheat.
# TO-DO:  Look at delaying final nozzle heat until after mesh is scanned.  If you restart a print with the bed and nozzle fairly hot, it heats up before the mesh is done and could drool.

gcode:
  {% set BED_TEMP = params.BED|default(60)|float %}
  {% set BED_TEMP_LOW = (BED_TEMP - 4)|default(56)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|default(150)|float %}
  {% set EXTRUDER_TEMP_LOW = (EXTRUDER_TEMP - 50)|default(100)|float %}
  {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|float %}  # Passed by Orca Slicer IF the parameter is in the start gcode call to PRINT_START.

  G90 					# absolute positioning
  M82 					# set extruder to absolute mode

  # Start heating chamber if CHAMBER_TEMP is passed in.
  {% if CHAMBER_TEMP > 0 %}
    M140 S0  # Set bed temp to 0 to prevent it from heating while the chamber heater is starting, which can cause the fuse to blow.
    M117 Heating Chamber
    M141 S{CHAMBER_TEMP}
    G4 P60000  # Wait 60 sec for chamber heater to warm up and draw less current.  Initial amp draw might blow the fuse if we start everything at once.
  {% endif %}

  LED_STATUS_HEATING 
  M117 Heating Bed
  M140 S{BED_TEMP}

  # If bed temp is less than BED_TEMP_LOW, and the extruder isn't already near target temp,
  # then heat extruder to the lower temp.
  {% if (printer.heater_bed.temperature < BED_TEMP_LOW) and (printer.extruder.temperature < EXTRUDER_TEMP_LOW) %}
    M104 S{EXTRUDER_TEMP_LOW}
  {% else %}
    M104 S{EXTRUDER_TEMP}
  {% endif %}

  LED_STATUS_HOMING
  M117 Homing
  G28

  M117 Adjusting Z Tilt
  Z_TILT_ADJUST
  G28 Z   # Rehome Z after tilt adjust since it can change the Z home position.

  LED_STATUS_MESHING
  M117 Calibrating Bed Mesh
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE

  # Wait for bed to get to BED_TEMP_LOW.
  M117 Heating Bed
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP_LOW}

  # Wait for chamber to get to target temp if it's heating.
  # If there is no chamber heater this should do nothing.
  M117 Heating Chamber
  M191 S{CHAMBER_TEMP}

  M117 Heating Extruder
  LED_STATUS_DISPLAY LED=bed_lights TYPE=extruder_temp MODE=progress
  M104 S{EXTRUDER_TEMP}

  # Then wait for both to reach target.
  M117 Final Heating
  M190 S{BED_TEMP}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-3}

  # Purge Nozzle
  M117 Purging Nozzle
  LED_STATUS_CLEANING
  LINE_PURGE

  LED_STATUS_ON
  M117


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    LED_STATUS_PART_READY
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament

    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 10} F3600  ; park nozzle at rear
    M107                                     ; turn off fan

    G0 Z220 F1500

    BED_MESH_CLEAR

    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
    M117 Print Complete


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F1800 E-5 ; Retract filament 5 mm to prevent oozing
   {% endif %}
   ;if all axis are homed, lift the hotend to leave room for hot filament to ooze and to keep it clear of the bed.
   {% if printer.toolhead.homed_axes == "xyz" %}
      G1 F6000 Z10 ; Move Z Axis up 10 mm to allow filament ooze freely
      G90 ; Set coordinates to absolute
      G1 X290 Y290 Z220 F1000 ; Move Printer Head Out of Way
      ; M84
      ; M84 ; Disable stepper motors - don't so the gantry stays aligned
   {% endif %}
   ;set part fan speed to zero.
   M106 S0
   TURN_OFF_HEATERS
   CLEAR_PAUSE
   M117 Print Cancelled
   BASE_CANCEL_PRINT


[gcode_macro Park_Nozzle]
gcode:
  {% set max_x = printer.toolhead.axis_maximum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}
  G0 X{max_x/2} Y{100} Z{max_z-2} F3500


[gcode_macro Home_Tilt_Park]
gcode:
  G28
  Z_TILT_ADJUST
  Park_Nozzle


[gcode_macro LOAD_FILAMENT]
gcode:
  {% if (printer.print_stats.state not in ['printing', 'paused']) %}
    Park_Nozzle
  {% endif %}
  {% if printer.extruder.temperature < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M109 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% elif printer.extruder.target < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M104 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% endif %}
  SAVE_GCODE_STATE NAME=pre_load_state
  M83
  G0 E50 F125
  RESTORE_GCODE_STATE NAME=pre_load_state


[gcode_macro UNLOAD_FILAMENT]
gcode:
  {% if printer.extruder.temperature < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M109 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% elif printer.extruder.target < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M104 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% endif %}
  {% if (printer.print_stats.state not in ['printing', 'paused']) %}
    Park_Nozzle
  {% endif %}
  SAVE_GCODE_STATE NAME=pre_unload_state
  M83
  G0 E2 F200
  G4 P100
  G0 E-10 F150
  G4 P500
  G0 E-35 F800
  RESTORE_GCODE_STATE NAME=pre_unload_state


[gcode_macro PAUSE]
# Adapted from LulzBot Mini 3 macros.
description: Custom PAUSE command for AMOS
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 5.0
variable_ext_target: 0  # Variable to save current extruder target temp for RESUME
gcode:
    # Save extruder temp for RESUME macro to use
    {% set EXT_TEMP = printer.extruder.target %}
    SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=ext_target VALUE={ EXT_TEMP }
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    {% set x_park = 150.0 %}
    {% set y_park = 100.0 %}
    ##### calculate safe lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set do_park = params.PARK|default(true)|lower == 'true' %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = max_z - 2.0 %}
    {% else %}
        {% set z_safe = act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G90
      G1 Z{z_safe} F900
      {% if do_park %}
        G1 X{x_park} Y{y_park} F6000
      {% endif %}
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}


[gcode_macro M25]
description: Use same pause macro for M25 command
rename_existing: M9925
gcode:
    PAUSE


[gcode_macro RESUME]
# Adapted from LulzBot Mini 3 macros.
description: Custom RESUME command for AMOS
rename_existing: RESUME_BASE
gcode:
#  {% set f_sensor = printer["filament_motion_sensor Filament_Runout_Sensor"]|default({}) %}
#  {% set runout_resume = True if not f_sensor.enabled          # resume if sensor is disabled
#                          else f_sensor.filament_detected %} 	 # or if filament is detected
#  {% if runout_resume %}
    {% if printer.pause_resume.is_paused %}  # Don't run resume if not paused.  Happens if you double tap the resume button in Klipperscreen.
        RESPOND TYPE=command MSG="action:prompt_end"
        M117 Resuming. Please Wait...
        {% set EXT_TEMP = printer["gcode_macro PAUSE"].ext_target %}  # Get extruder temp saved in PAUSE
        ##### read E from pause macro #####
        {% set E = printer["gcode_macro PAUSE"].extrude|float %}
        #### get VELOCITY parameter if specified ####
        {% if 'VELOCITY' in params|upper %}
          {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
        {%else %}
          {% set get_params = "" %}
        {% endif %}
        ##### end of definitions #####
        {% if printer.extruder.temperature < (EXT_TEMP - 5) %}  # Don't display reheating message if we are only off by a few degrees
          M117 Reheating to {EXT_TEMP}
        {% endif %}
        M109 S{EXT_TEMP}
        M117
        {% if printer.extruder.can_extrude|lower == 'true' %}
          G91
          G1 E{E} F2100
        {% else %}
          {action_respond_info("Extruder not hot enough")}
        {% endif %}
        RESUME_BASE {get_params}
    {% endif %}
#  {% else %}
#     _RUNOUT_RESUME_ALERT
#  {% endif %}


[gcode_macro M24]
description: Use same pause macro for M24 command
rename_existing: M9924
gcode:
    RESUME


[gcode_macro M201]
description: Sets maximum accelleration.
  Usage: M201 [X<accel>] [Y<accel>]
variable_max_accel: 1.7976931348623157e+308
gcode:
  {% set km = printer["gcode_macro _km_globals"] %}
  {% if 'X' in params or 'Y' in params %}
    {% set accel = (params.X|default(params.Y)|float,
                    params.Y|default(params.X)|float)|min %}
    SET_GCODE_VARIABLE MACRO=m201 VARIABLE=max_accel VALUE="{accel}"
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M203]
description: Sets maximum velocity.
  Usage: M203 [X<velocity>] [Y<velocity>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set velocity = (params.X|default(params.Y)|float,
                       params.Y|default(params.X)|float)|min %}
    SET_VELOCITY_LIMIT VELOCITY="{velocity}"
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M205]
description: Sets square corner velocity.
  Usage: M203 [X<velocity>] [Y<velocity>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY="{
      (params.X|default(0)|float, params.Y|default(0)|float)|min}"
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}
