[gcode_macro VARIABLES]
variable_min_temp_extruder: 170
variable_load_unload_temp: 200
variable_print_end_retraction_distance: 5
variable_print_end_retraction_speed: 300
gcode:


[gcode_macro lower_if_able]
gcode:
  {% set max_z = printer.toolhead.axis_maximum.z|float %}  # define the max travel
  {% set act_z = printer.toolhead.position.z|float %}      # define tool head location
  {% if act_z <= (max_z - 10.0) %}  # look if there is 10mm of Z travel avalible
      G91
      G0 Z10  # raise 10mm
      G90
  {% elif act_z <= (max_z - 5) %}  # look if there is 5mm of Z travel avalible
      G91
      G0 Z5  # raise 5mm
      G90
  {% elif act_z <= (max_z - 1) %}  # look if there is 1mm of Z travel avalible
      G91
      G0 Z1  # raise 1mm
      G90  
  {% endif %}

[gcode_macro G34]
gcode:
  OG28
  Z_TILT_ADJUST

[gcode_macro G29]
gcode:
  OG28
  Z_TILT_ADJUST
  BED_MESH_CALIBRATE

[gcode_macro OG28] # Optional Homing
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro OZTA] # Optional Z Tilt Adjust
gcode:
    {% if printer.z_tilt.applied == False %}
        {% if "xyz" not in printer.toolhead.homed_axes %}
            G28 ; home if not already homed
        {% endif %}
        Z_TILT_ADJUST
        G28 Z
    {% endif %}

[gcode_macro START]
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(150)|float %} #standby temp
  G90 					# absolute positioning
  M82 					# set extruder to absolute mode
  M140 S{BED_TEMP}
  M104 S{EXTRUDER_TEMP}
  {% if printer.extruder.temperature < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M104 S150
  {% endif %}
  G92 E0        # set extruder position to 0
  OG28
  OZTA
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE ADAPTIVE=1
  M190 S{BED_TEMP}
  M109 S{EXTRUDER_TEMP}

[gcode_macro PURGE]
gcode:
  M82 					# set extruder to absolute mode
  {% if printer.extruder.temperature < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M109 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% endif %}
  OG28
  G0 X50 Y0 Z1 F6000
  G0 E{printer["gcode_macro VARIABLES"].print_end_retraction_distance} F150
  G92 E0 # set extruder position to 0
  G0 X200 E5 F2000
  G92 E0 # set extruder position to 0

[gcode_macro END] 
gcode:
  M104 S0 # turn off temperature
  M140 S40 #lower bed temp to removal temp
  lower_if_able
  M106 S0
  G0 X260 Y238 F4000
  M83
  G1 E-{printer["gcode_macro VARIABLES"].print_end_retraction_distance}

[gcode_macro LOAD_FILAMENT]
gcode:
  {% if printer.extruder.temperature < printer["gcode_macro VARIABLES"].min_temp_extruder %}
  M109 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% endif %}
  OG28
  G0  X150 Y-30  F6000
  M83
  G0 E50 F200
  M82

[gcode_macro UNLOAD_FILAMENT]
gcode:
  {% if printer.extruder.temperature < printer["gcode_macro VARIABLES"].min_temp_extruder %}
  M109 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% endif %}
  OG28
  G0  X150 Y-30  F6000
  M83
  G0 E-200 F600
  M82

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE
    END

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro M106]
gcode:
  {% if params.S is defined %}
    {% set s = (params.S)|float %}
    {% set min_bed_fan_speed = 255*0.50 %}    # 50% of 255
    {% set start_bed_fan_speed = 255*0.15 %}  # 15% of 255
    {% if s < min_bed_fan_speed %} 
      {% set s_bed = 0 %}
    {% else %}
      {% set s_bed = (start_bed_fan_speed+((s-min_bed_fan_speed)/(255-min_bed_fan_speed)*(255-start_bed_fan_speed))) %}
    {% endif %}
  {% endif %}
  SET_FAN_SPEED FAN=toolhead_fan SPEED={s/255}
  SET_FAN_SPEED FAN=bed_fan SPEED={s_bed/255}

[gcode_macro M107]
gcode:
  SET_FAN_SPEED FAN=toolhead_fan SPEED=0
  SET_FAN_SPEED FAN=bed_fan SPEED=0

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-3} MAXIMUM={s+3}
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-1} MAXIMUM={s+1}
    {% endif %}

[gcode_macro M201]
description: Sets maximum acceleration.
  Usage: M201 [X<accel>] [Y<accel>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set accel = (params.X|default(params.Y)|float,
                    params.Y|default(params.X)|float)|min %}
    SET_VELOCITY_LIMIT ACCEL={accel}
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M203]
description: Sets maximum velocity.
  Usage: M203 [X<velocity>] [Y<velocity>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set velocity = (params.X|default(params.Y)|float,
                       params.Y|default(params.X)|float)|min %}
    SET_VELOCITY_LIMIT VELOCITY={velocity}
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M205]
description: Sets square corner velocity.
  Usage: M205 [X<velocity>] [Y<velocity>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set sqv = (params.X|default(params.Y)|float,
                  params.Y|default(params.X)|float)|min %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={sqv}
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}
