
#####################################################################
#   Macros
#####################################################################

[gcode_macro VARIABLES]
variable_min_temp_extruder: 170
variable_load_unload_temp: 200
variable_x_homing_backoff: -30
variable_y_homing_backoff: -10
gcode:


[gcode_macro OG28] # Optional Homing
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}


[gcode_macro OZTA] # Optional Z Tilt Adjust
gcode:
    {% if printer.z_tilt.applied == False %}
        {% if "xyz" not in printer.toolhead.homed_axes %}
            G28 ; home if not already homed
        {% endif %}
        Z_TILT_ADJUST
        G28 Z
    {% endif %}


[gcode_macro PRINT_START]
# This start macro does an intelligent adaptive heating sequence to greatly reduce time until actual printing starts.
# If the printer is cold, it will start the bed heat, then start the extruder heating to a lower temp that shouldn't ooze.
# It will do homing, z-tilt, and mesh while heating.
# When the bed is a few degrees short of target it will start the extruder heating to print temp, so they ideally hit target at the same time.
# But it also adapts to starting with heated bed or extruder and doesn't force the extruder to cool then reheat.
# TO-DO:  Look at delaying final nozzle heat until after mesh is scanned.  If you restart a print with the bed and nozzle fairly hot, it heats up before the mesh is done and could drool.

gcode:
  {% set BED_TEMP = params.BED|default(60)|float %}
  {% set BED_TEMP_LOW = (BED_TEMP - 6)|default(54)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|default(150)|float %}
  {% set EXTRUDER_TEMP_LOW = (EXTRUDER_TEMP - 50)|default(100)|float %}
  {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|float %}  # Passed by Orca Slicer IF the parameter is in the start gcode call to PRINT_START.

  G90 					# absolute positioning
  M82 					# set extruder to absolute mode

  LED_STATUS_HEATING
  # Start heating chamber if CHAMBER_TEMP is passed in and chamber heater exists.
  {% if CHAMBER_TEMP > 0 %}
    {% if "heater_generic chamber_heater" in printer %}
      M140 S0  # Set bed temp to 0 to prevent it from heating while the chamber heater is starting, which can cause the fuse to blow.
      M117 Heating Chamber
      M141 S{CHAMBER_TEMP}
      G4 P60000  # Wait 60 sec for chamber heater to warm up and draw less current.  Initial amp draw might blow the fuse if we start everything at once.
    {% else %}
      M118 Chamber heat requested, but no chamber heater is configured. Continuing without chamber heating.
    {% endif %}
  {% endif %}

  LED_STATUS_HEATING 
  M117 Heating Bed
  M140 S{BED_TEMP}

  # If bed temp is less than BED_TEMP_LOW, and the extruder isn't already near target temp,
  # then heat extruder to the lower temp.
  {% if (printer.heater_bed.temperature < BED_TEMP_LOW) and (printer.extruder.temperature < EXTRUDER_TEMP_LOW) %}
    M104 S{EXTRUDER_TEMP_LOW}
  {% else %}
    M104 S{EXTRUDER_TEMP}
  {% endif %}

  LED_STATUS_HOMING
  M117 Homing
  G28

  M117 Adjusting Z Tilt
  Z_TILT_ADJUST
  G28 Z   # Rehome Z after tilt adjust since it can change the Z home position.

  LED_STATUS_MESHING
  M117 Calibrating Bed Mesh
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE

  LED_STATUS_HEATING 
  # Wait for bed to get to BED_TEMP_LOW.
  M117 Heating Bed
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP_LOW}

  # Wait for chamber to get to target temp if it's heating.
  # If there is no chamber heater this should do nothing.
  M117 Heating Chamber
  M191 S{CHAMBER_TEMP}

  M117 Heating Extruder
  LED_STATUS_DISPLAY LED=bed_lights TYPE=extruder_temp MODE=progress
  M104 S{EXTRUDER_TEMP}

  LED_STATUS_HEATING
  # Then wait for both to reach target.
  M117 Final Heating
  M190 S{BED_TEMP}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-3}

  # Purge Nozzle
  M117 Purging Nozzle
  LED_STATUS_CLEANING
  LINE_PURGE

  LED_STATUS_ON
  M117


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    LED_STATUS_PART_READY
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament

    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 10} F3600  ; park nozzle at rear
    M107                                     ; turn off fan

    G0 Z220 F1500

    BED_MESH_CLEAR

    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
    M117 Print Complete


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
   {% set max_z = printer.toolhead.axis_maximum.z|float %}
   {% set act_z = printer.toolhead.position.z|float %}
   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F1800 E-5 ; Retract filament 5 mm to prevent oozing
   {% endif %}
   ;if all axis are homed, lift the hotend to leave room for hot filament to ooze and to keep it clear of the bed.
   {% if printer.toolhead.homed_axes == "xyz" %}
      {% if act_z < (max_z - 10) %}
        G1 F900 Z10 ; Move Z Axis up 10 mm to allow filament ooze freely
      {% endif %}
      G90 ; Set coordinates to absolute
      G1 X290 Y290 Z220 F1000 ; Move Printer Head Out of Way
   {% endif %}
   ;set part fan speed to zero.
   M106 S0
   TURN_OFF_HEATERS
   CLEAR_PAUSE
   M117 Print Cancelled
   BASE_CANCEL_PRINT


[gcode_macro Park_Nozzle]
gcode:
  {% set max_x = printer.toolhead.axis_maximum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}
  G0 X{max_x/2} Y{100} Z{max_z-2} F3500


[gcode_macro Home_Tilt_Park]
gcode:
  G28
  Z_TILT_ADJUST
  Park_Nozzle


[gcode_macro LOAD_FILAMENT]
gcode:
  {% if (printer.print_stats.state not in ['printing', 'paused']) %}
    Park_Nozzle
  {% endif %}
  {% if printer.extruder.temperature < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M109 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% elif printer.extruder.target < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M104 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% endif %}
  SAVE_GCODE_STATE NAME=pre_load_state
  M83
  G0 E50 F125
  RESTORE_GCODE_STATE NAME=pre_load_state


[gcode_macro UNLOAD_FILAMENT]
gcode:
  {% if printer.extruder.temperature < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M109 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% elif printer.extruder.target < printer["gcode_macro VARIABLES"].min_temp_extruder %}
    M104 S{printer["gcode_macro VARIABLES"].load_unload_temp}
  {% endif %}
  {% if (printer.print_stats.state not in ['printing', 'paused']) %}
    Park_Nozzle
  {% endif %}
  SAVE_GCODE_STATE NAME=pre_unload_state
  M83
  G0 E2 F200
  G4 P100
  G0 E-10 F150
  G4 P500
  G0 E-35 F800
  RESTORE_GCODE_STATE NAME=pre_unload_state


[gcode_macro PAUSE]
# Adapted from LulzBot Mini 3 macros.
description: Custom PAUSE command for AMOS
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 5.0
variable_ext_target: 0  # Variable to save current extruder target temp for RESUME
gcode:
    # Save extruder temp for RESUME macro to use
    {% set EXT_TEMP = printer.extruder.target %}
    SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=ext_target VALUE={ EXT_TEMP }
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    {% set x_park = 150.0 %}
    {% set y_park = 100.0 %}
    ##### calculate safe lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set do_park = params.PARK|default(true)|lower == 'true' %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = max_z - 2.0 %}
    {% else %}
        {% set z_safe = act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G90
      G1 Z{z_safe} F900
      {% if do_park %}
        G1 X{x_park} Y{y_park} F6000
      {% endif %}
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}


[gcode_macro M25]
description: Use same pause macro for M25 command
rename_existing: M9925
gcode:
    PAUSE


[gcode_macro RESUME]
# Adapted from LulzBot Mini 3 macros.
description: Custom RESUME command for AMOS
rename_existing: RESUME_BASE
gcode:
#  {% set f_sensor = printer["filament_motion_sensor Filament_Runout_Sensor"]|default({}) %}
#  {% set runout_resume = True if not f_sensor.enabled          # resume if sensor is disabled
#                          else f_sensor.filament_detected %} 	 # or if filament is detected
#  {% if runout_resume %}
    {% if printer.pause_resume.is_paused %}  # Don't run resume if not paused.  Happens if you double tap the resume button in Klipperscreen.
        RESPOND TYPE=command MSG="action:prompt_end"
        M117 Resuming. Please Wait...
        {% set EXT_TEMP = printer["gcode_macro PAUSE"].ext_target %}  # Get extruder temp saved in PAUSE
        ##### read E from pause macro #####
        {% set E = printer["gcode_macro PAUSE"].extrude|float %}
        #### get VELOCITY parameter if specified ####
        {% if 'VELOCITY' in params|upper %}
          {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
        {%else %}
          {% set get_params = "" %}
        {% endif %}
        ##### end of definitions #####
        {% if printer.extruder.temperature < (EXT_TEMP - 5) %}  # Don't display reheating message if we are only off by a few degrees
          M117 Reheating to {EXT_TEMP}
        {% endif %}
        M109 S{EXT_TEMP}
        M117
        {% if printer.extruder.can_extrude|lower == 'true' %}
          G91
          G1 E{E} F2100
        {% else %}
          {action_respond_info("Extruder not hot enough")}
        {% endif %}
        RESUME_BASE {get_params}
    {% endif %}
#  {% else %}
#     _RUNOUT_RESUME_ALERT
#  {% endif %}


[gcode_macro M24]
description: Use same pause macro for M24 command
rename_existing: M9924
gcode:
    RESUME


[gcode_macro M201]
description: Sets maximum accelleration.
  Usage: M201 [X<accel>] [Y<accel>]
variable_max_accel: 1.7976931348623157e+308
gcode:
  {% set km = printer["gcode_macro _km_globals"] %}
  {% if 'X' in params or 'Y' in params %}
    {% set accel = (params.X|default(params.Y)|float,
                    params.Y|default(params.X)|float)|min %}
    SET_GCODE_VARIABLE MACRO=m201 VARIABLE=max_accel VALUE="{accel}"
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M203]
description: Sets maximum velocity.
  Usage: M203 [X<velocity>] [Y<velocity>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set velocity = (params.X|default(params.Y)|float,
                       params.Y|default(params.X)|float)|min %}
    SET_VELOCITY_LIMIT VELOCITY="{velocity}"
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M205]
description: Sets square corner velocity.
  Usage: M203 [X<velocity>] [Y<velocity>]
gcode:
  {% if 'X' in params or 'Y' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY="{
      (params.X|default(0)|float, params.Y|default(0)|float)|min}"
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}


[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}

    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {action_respond_info(out|join("\n"))}


[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-3} MAXIMUM={s+3}
    {% endif %}


[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-1} MAXIMUM={s+1}
    {% endif %}
